body {
    font-family: "Lucida Console", "Courier New", monospace;
  }

  .navbar {
    overflow: hidden;
    background-color: rgb(241, 235, 235);
  }
  
  .navbar .homepage {
    float: left;
    font-size: 20px;
    color: rgb(12, 12, 12);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .navbar img{
    float: left;
    height: 50px;
    width: inherit;
  }

  .dropdown1 {
    float: right;
    overflow: visible;
  }
  
  .dropdown1 .dropbtn {
    font-size: 20px;  
    border: none;
    outline: none;
    color: rgb(12, 12, 12);
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .dropdown1:hover .dropbtn {
    background-color: rgb(243, 243, 243);
    color: black;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown1:hover .dropdown-content {
    display: block;
  }

  .dropdown2 {
    float: right;
    overflow: visible;
  }
  
  .dropdown2 .dropbtn {
    font-size: 20px;  
    border: none;
    outline: none;
    color: rgb(12, 12, 12);
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .dropdown2:hover .dropbtn {
    background-color: rgb(243, 243, 243);
    color: black;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown2:hover .dropdown-content {
    display: block;
  }

  .navbar .connect {
    float: right;
    font-size: 20px;
    color: rgb(12, 12, 12);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

.image1 {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  display: block;
  height: auto;
}

.alignment {
  box-sizing: border-box;
}

.alignment::after{
  content: "";
  display: table;
}

.box1 {
  float: left;
  height: 220px;
  width: 50%;
  margin-left: 20px;
  padding: 2%;
  border: 1px solid black;
}

.box2 {
  float: left;
  width: 30%;
  padding: 2%;
  margin-left: 10px;
  margin-top: 10px;
  border: 1px solid black;
}

.date {
  padding-bottom: 10px;
  padding-left: 10px;
}

.title {
  font-weight: bold;
  font-size: 20px;
  padding-bottom: 10px;
  text-decoration: none;
}

.tab {
  background-color: white;
  text-align: center;
  display: inline-block;
  border: 2px solid blue;
  border-radius: 20px;
  padding: 10px;
  text-decoration: none;
  color: black;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 20px;
}